<div class="container frame-size">
    <div class="main-body">
        <div class="row">
            <div class="col-8">
                <div class="row my-2">
                    <div class="col-2">
                        <button class="btn btn-dark btn-block"><i class="fas fa-car"></i><i
                                class="fas fa-plus mx-2"></i></button>
                    </div>
                    <div class="col-8">
                        <input class="form-control" type="text" placeholder="Search">
                    </div>
                    <div class="col-2">
                        <button class="btn btn-dark btn-block"><i class="fas fa-search"></i></button>
                    </div>
                </div>

                <div class="row my-3">
                    <div class="card pt-2 col-4" *ngFor="let item of warehouseItems">
                        <div class="img-box img-effect">
                            <img class="card-img-top" alt="Item image" [src]="item.base64Img" (click)="viewImage(item.base64Img)">
                        </div>
                        <div class="card-body">
                            <ul class="nav nav-tabs mt-0">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#info"><i class="fas fa-info"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#itemdata"><i class="fas fa-file-invoice"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#options"><i class="fas fa-cog"></i></a>
                                </li>
                            </ul>
                
                            <div class="tab-content">
                                <div class="tab-pane container active" id="info">
                                    <p class="mt-2">Name: {{item.castingInfo[0].name | titlecase}}</p>
                                    <p>{{item.castingInfo[0].year}}</p>
                                    <hr>
                                    <p>Pieces: {{item.castingInfo[0].pieces}}</p>
                                    <hr>
                                    <p>{{item.castingInfo[0].contents}}</p>
                                </div>
                                <div class="tab-pane container fade" id="itemdata">
                                    <p class="mt-2">Value: {{item.value | currency}}</p><hr>
                                    <p>Blister: [ <span *ngIf="item.blister == 1">{{item.blisterCondition | uppercase}} ]</span> {{item.blister | boolean}}</p><hr>
                                    <p>Casting(s) score: {{item.castingScore}}</p><hr>
                                    <p>Quantity: {{item.quantity}}</p><hr>
                                    <p>Date stock: {{item.dateStock}}</p><hr>
                                    <p>Sold out: {{item.soldOut | boolean}}</p>
                                </div>
                                <div class="tab-pane container fade" id="options">
                                    <p class="mt-2">Negotiable: <input type="checkbox" [checked]="item.negotiable == 1" data-toggle="toggle" data-size="xs" data-onstyle="dark" (change)="updateNegotiable(item.negotiable, item.id)">
                                    </p>
                                    <hr>
                                    <p>Sell: <input type="checkbox" [checked]="item.toStoreOrSell == 1" data-toggle="toggle" data-size="xs" data-onstyle="dark" (change)="updateSell(item.negotiable, item.id)"></p>
                                    <hr>
                                    <p>Trade: <input type="checkbox" [checked]="item.trade == 1" data-toggle="toggle" data-size="xs" data-onstyle="dark" (change)="updateTrade(item.negotiable, item.id)"></p>
                                    <button class="btn btn-dark btn-block">Edit item</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 status-box">
                <h2 class="mt-2 text-center">Warehouse Status:</h2>
                <hr>

                <h4>Total items: {{totalItems[0]}}</h4>
                <h5>- Castings/Packs: {{totalItems[1]}}</h5>
                <h5>- Stored: {{itemsToStore}}</h5>
                <h5>- To sell: {{itemsToSell}}</h5>
                <h5>- Total money: {{totalMoney | currency}}</h5>
                <hr>

                <h4>Prospects</h4>
                <div class="p-2">
                    <a *ngFor="let prospect of prospectItems" class="text-center" (click)="viewProspect()">
                        {{prospect.turn}} <span>( {{prospect.item.castingInfo[0].name | titlecase}} -
                            [{{prospect.item.type | uppercase}}, {{prospect.item.castingInfo[0].year}}] )</span>:
                        {{prospect.user[0].username}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="focus-img" *ngIf="bandFocusImg">
    <img class="card-img-top" alt="Item image" [src]="focusImg">
    <hr>
    <button class="btn btn-outline-dark btn-block" (click)="closeImg()">Close</button>
</div>