nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    height: 3.5rem !important;
    position: fixed;
    width: 100vw !important;
}

.navbar-brand {
    cursor: pointer;
}

a, i {
    cursor: pointer;
}

.zindex {
    z-index: 1000 !important;
}