<section class="app">
    <aside class="sidebar">
        <nav class="sidebar-nav">
            <ul>
                <li>
                    <!-- ?? Opciones de usaurio -->
                    <a><i class="ion-bag"></i> <span><i class="fas fa-user-cog"></i></span></a>
                    <ul class="nav-flyout">
                        <li>
                            <a><i class="ion-ios-color-filter-outline"></i>User options</a>
                        </li>
                        <li>
                            <a (click)="selectAppOpt('profile')"><i class="ion-android-star-outline"></i>Profile</a>
                        </li>
                        <li>
                            <a (click)="selectAppOpt('warehouse-status')"><i class="ion-ios-clock-outline"></i>WH status</a>
                        </li>
                        <li>
                            <a (click)="selectAppOpt('management')"><i class="ion-android-star-outline"></i>Admin opt.</a>
                        </li>
                        <li>
                            <a (click)="logout()"><i class="ion-android-star-outline"></i>Log Out</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <!-- ?? Planificacion -->
                    <a><i class="ion-bag"></i> <span><i class="fas fa-users"></i></span></a>
                    <ul class="nav-flyout">
                        <li>
                            <a><i class="ion-ios-color-filter-outline"></i>Collectors</a>
                        </li>
                        <li>
                            <a ><i class="ion-ios-clock-outline"></i>Communities</a>
                        </li>
                        <li>
                            <a ><i class="ion-android-star-outline"></i>Inspect user</a>
                        </li>
                        <li>
                            <a ><i class="ion-android-star-outline"></i>Forums</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a><i class="ion-ios-briefcase-outline"></i> <span class=""><i class="fas fa-store"></i></span></a>
                    <ul class="nav-flyout">
                        <li>
                            <a><i class="ion-ios-color-filter-outline"></i>Market</a>
                        </li>
                        <li>
                            <a (click)="selectAppOpt('shop')"><i class="ion-ios-lightbulb-outline"></i>Shop</a>
                        </li>
                        <li>
                            <a (click)="selectAppOpt('trade')"><i class="ion-ios-location-outline"></i>Trade</a>
                        </li>
                        <li>
                            <a (click)="selectAppOpt('auction')"><i class="ion-ios-locked-outline"></i>Auction</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a><i class="ion-ios-analytics-outline"></i> <span class=""><i class="fas fa-car"></i></span></a>
                    <ul class="nav-flyout">
                        <li>
                            <a><i class="ion-ios-color-filter-outline"></i>Items</a>
                        </li>
                        <li>
                            <a ><i class="ion-arrow-graph-down-left"></i>Castings</a>
                        </li>
                        <li>
                            <a ><i class="ion-ios-partlysunny-outline"></i>Packs</a>
                        </li>
                        <li>
                            <a ><i class="ion-ios-timer-outline"></i>News</a>
                        </li>
                        <li>
                            <a ><i class="ion-ios-game-controller-a-outline"></i>Offers</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a><i class="ion-ios-analytics-outline"></i> <span class=""><i class="fas fa-hand-holding-heart"></i></span></a>
                    <ul class="nav-flyout">
                        <li>
                            <a><i class="ion-ios-color-filter-outline"></i>Options</a>
                        </li>
                        <li>
                            <a ><i class="ion-arrow-graph-down-left"></i>Support</a>
                        </li>
                        <li>
                            <a ><i class="ion-ios-partlysunny-outline"></i>Academy</a>
                        </li>
                        <li>
                            <a ><i class="ion-ios-timer-outline"></i>Report</a>
                        </li>
                        <li>
                            <a ><i class="ion-ios-game-controller-a-outline"></i>FAQ</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>
</section>