@import "../../app.component.scss";

.filters {
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 0.2rem;
}

.img-box {
    min-height: 250px;
    height: 250px;
    min-width: 205px;
    width: 205px;
    overflow: hidden;
    margin: auto;
}